---
page:
  scripts: sass

once_page_is_compiled: 
  prepends:  "/* Yo I'm compiled css */"
  postpends: "/* End ma compiled css */"
  scripts:
    - minify_and_gzip_css
---
userbound.com_src/filesystem/_sass/all.sass
